fastapi[standard]>=0.113.0,<0.114.0
pydantic>=2.7.0,<3.0.0
requests
pybase64
pymysql
sqlalchemy
uvicorn[standard]
psycopg2-binary
aiohttp
pythainlp
jinja2
mcp
fastapi-mcp
fastmcp
mysql-connector-python